@import "tailwindcss";

:root {
  --border-color: #383838;
}

@theme {
  --color-main: #0f0f0f;
}

body {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-ms-clear {
    display: none;
  }

  input {
    border: none;
    outline: none;
    background: transparent;
  }

  select:focus {
    border: none;
    outline: none;
  }
}
