.footer {
  display: grid;
  place-items: center;

  background: #202020;
  background: linear-gradient(
    0deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(32, 32, 32, 0.1) 100%
  );
  border-bottom: 1px solid var(--border-color);

  border-radius: 10px;

  padding: 10px 20px;
}
