.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.form {
  width: 768px;
  height: max-content;
  padding: 10px 30px;

  position: relative;

  background: linear-gradient(
    180deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  );
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

.form::before {
  content: "";
  position: absolute;
  z-index: -10;
  inset: -1px;
  border-radius: 20px;
  background: #292929;
  background: linear-gradient(
    180deg,
    rgba(41, 41, 41, 1) 0%,
    rgba(41, 41, 41, 0) 100%
  );
}

.title {
  margin-bottom: 30px;
}

.input-title {
  color: #a3a3a3;
}

.input-wrapper {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 10px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.input-wrapper:focus-within {
  border-color: #a3a3a3;
}

.input-wrapper::before {
  content: "";

  width: 20px;
  height: 20px;
  background: url("/ruble.svg") center no-repeat;
  background-size: contain;
  z-index: 10;

  position: absolute;
  left: 12.5px;
  top: 50%;
  transform: translateY(-50%);

  pointer-events: none;
}

.input-wrapper::after {
  content: "руб.";
  position: absolute;
  color: var(--border-color);
  right: 10px;
}

.input {
  border-left: 1px solid var(--border-color);
  padding-left: 10px;
  width: 100%;
  font-size: 18px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-btn,
.reset-btn {
  font-size: 18px;

  border-radius: 15px;

  padding: 10px 18px;
  width: min-content;

  cursor: pointer;
}

.main-btn {
  background-color: #fff;
  color: #000;
  transition: all ease-in 0.2s;
}

.main-btn:disabled {
  outline: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--border-color);
  cursor: default;
}

.main-btn:disabled:hover {
  transform: none;
}

.reset-btn {
  border: 1px solid var(--border-color);
  background-color: #1a1a1a;
  color: #ffffff;
  transition: transform ease-in 0.2s;
}

.main-btn:hover,
.reset-btn:hover {
  transform: scale(1.02);
}

.select-wrapper {
  width: min-content;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.select option {
  background-color: #000;
  color: #fff;
}

.textarea-wrapper {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  resize: none;
}

.textarea:focus {
  outline: none;
}

.close-btn {
  position: absolute;
  top: 15;
  right: 15;
  border-radius: 100%;
  border: 1px solid #a3a3a3;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 85%;
  background-color: #a3a3a3;
}

.close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.success-message {
  animation: 3.1s linear 0s disappearance;
  transition: all ease-in 0.2s;
}

@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
